.container {
  display: flex;
}

.wrap_container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 5rem;
  gap: 1rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button.pink_300 {
  background-color: rgb(250, 204, 227);
}

.button.pink_400 {
  background-color: rgb(255, 169, 212);
}

.button:hover {
  opacity: 0.7;
}
